server:
  port: 8081

spring:
  application:
    name: order-service
  cloud:
    function:
      definition: stockUnavailable
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          configuration:
            schema.registry.url: http://localhost:8083
        bindings:
          stockUnavailable-in-0:
            consumer:
              configuration:
                key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
                value.deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
                specific.avro.reader: true
          orderCreated-out-0:
            producer:
              configuration:
                key.serializer: org.apache.kafka.common.serialization.StringSerializer
                value.serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
                specific.avro.reader: true
      bindings:
        stockUnavailable-in-0:
          destination: stock-unavailable
          group: order-service-group
          content-type: application/*+avro
        orderCreated-out-0:
          destination: order-created
          content-type: application/*+avro
          producer:
            use-native-encoding: true
      default:
        content-type: application/*+avro

springwolf:
  enabled: true
  docket:
    info:
      title: Order Service API
      version: 1.0.0
      description: Order Service - Async API documentation for Kafka topics
    base-package: com.etrandafir.asyncapi.orderservice
    servers:
      kafka-server:
        protocol: kafka
        host: localhost:9092
  use-fqn: true
  scanner:
    async-listener:
      enabled: true
    async-publisher:
      enabled: true
  plugin:
    kafka:
      publishing:
        enabled: true
        producer:
          bootstrap-servers: localhost:9092
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
          properties:
            "[schema.registry.url]": http://localhost:8083

logging:
  level:
    com.etrandafir.asyncapi.orderservice: DEBUG
